@import '@aerogel/core';
@import '@aerogel/plugin-solid';
@import '@aerogel/plugin-local-first';
@import '@aerogel/plugin-routing';

:root {
    --color-primary: #ff4081;
    --color-background: #f9f9ff;
    --breakpoint-content: var(--breakpoint-lg);
}

body {
    background-color: var(--color-background);
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e0e0ff' fill-opacity='0.4'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.bg-status-completed {
    @apply bg-gradient-to-r from-[#66bb6a] to-[#43a047];
}

.bg-status-watching {
    @apply bg-gradient-to-r from-[#42a5f5] to-[#2196f3];
}

.bg-status-dropped {
    @apply bg-gradient-to-r from-[#ef5350] to-[#e53935];
}

.bg-status-pending {
    @apply bg-gradient-to-r from-[#9575cd] to-[#7e57c2];
}
